<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>



  <% @posts.order("created_at desc").each do |post| %>
        <div id= "post">
          <p><%= post.text %></p>
          <strong><p>by <%= post.author %> at <%= post.created_at %></p></strong>

          <br><br>

        </div>
        
  <% end %>
  
<br>


